APP_ENV=production
DB_DRIVER=sqlsrv
DB_HOST=your_db_host_here
DB_NAME=your_db_name_here
DB_USER=your_db_user_here
DB_PASSWORD=your_db_password_here
DB_PORT=1433
PAYMENTSERVICE_APIKEY=your_paymentservice_apikey_here
PAYMENTSERVICE_WEBHOOK_SECRET=your_paymentservice_webhook_secret_here
